:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 15px;
  line-height: 24px;
  font-weight: 600;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  --darker-color: #222222;
  --neutral-gray: #2C2C2C;
  --light-neutral-gray: #343434;
  --lighter-neutral-gray: #424242;
  --darker-neutral-gray: #232323;
  --darker-neutral: #242424;
  --danger-color: #FF8F8F;
  --light-danger-color: #ffa7a7;
}

* {
  padding: 0;
  margin: 0;
  background: var(--darker-neutral-gray);
  box-sizing: border-box;
  scroll-behavior: smooth;
}

/**
  * Split
  *
  * @author jh3y
*/
@-webkit-keyframes swap {
  0%, 100% {
    -webkit-transform: scale(0);
            transform: scale(0); }
  50% {
    -webkit-transform: scale(1);
            transform: scale(1); } }
@keyframes swap {
  0%, 100% {
    -webkit-transform: scale(0);
            transform: scale(0); }
  50% {
    -webkit-transform: scale(1);
            transform: scale(1); } }

.swap:after, .swap:before {
  border-radius: 100%;
  content: '';
  height: 50px;
  opacity: .5;
  position: absolute;
  width: 50px; }

.swap:after {
  -webkit-animation: swap 1.5s -0.75s infinite;
          animation: swap 1.5s -0.75s infinite;
  background-color: var(--primary); }

.swap:before {
  -webkit-animation: swap 1.5s infinite;
          animation: swap 1.5s infinite;
  background-color: var(--secondary); }


@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
